<footer>
    <div class="row justify-content-around mb-0 pt-5 pb-0">
        <div class="col-11 row-border">
            <div class="row justify-content-center">
                <div class="col-md-3 col-12 font-italic align-items-center mt-md-3 mt-4">
                    <h5><span> <img src="https://mdbootstrap.com/img/logo/mdb-transparent.png" height="30px"></span><b class="text-dark"> Ayaz<span class="text-muted"> Habib</span></b></h5>
                    <p class="social mt-md-3 mt-2"></p> <small class="copy-rights cursor-pointer site-color">@2021 My Shopping Site</small>
                </div>
                <div class="col-md-3 col-12 my-sm-0 mt-5">
                    <ul class="list-unstyled">
                        <li class="mt-md-3 mt-4 ft-header">Our Solution</li>
                        <li>Home</li>
                        <li>Product Features</li>
                        <li>Pricing</li>
                    </ul>
                </div>
                <div class="col-md-3 col-12 my-sm-0 mt-5">
                    <ul class="list-unstyled">
                        <li class="mt-md-3 mt-4 ft-header">Your needs</li>
                        <li>Home</li>
                        <li>Product Features</li>
                        <li>Pricing</li>
                    </ul>
                </div>
                <div class="col-xl-auto col-md-3 col-12 my-sm-0 mt-5">
                    <ul class="list-unstyled">
                        <li class="mt-md-3 mt-4 ft-header">Offer</li>
                        <li>Home</li>
                        <li>Product Features</li>
                        <li>Pricing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>
