<div class="table-responsive center-tbl">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="center">#</th>
          <th class="center">Product Name</th>
          <th class="center">Unit Price</th>
          <th class="center">No Of Items</th>
          <th class="center">Sub Total</th>
          <th class="center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of cartItems$ | async">
          <td class="right">{{item?.id}}</td>
          <td class="center">{{item?.name}}</td>
          <td class="right">{{item?.price}}</td>
          <td class="right">{{item?.purchaseQty}}</td>
          <td class="right">{{item?.purchaseQty ? (item.price * item.purchaseQty) : 0}}</td>
          <td class="center"><i class="fa fa-remove trash-color" (click)="deleteItem(item)"></i>
          </td>
        </tr>
        <tr *ngIf="(cartItems$| async)?.length === 0">
          <td colspan="6" class="center"><h3>Your cart is empty</h3></td>
        </tr>
        <tr>
              <td colspan="3"></td>
              <td class="center"><b>Grand Total</b></td>
              <td class="right">{{total}}</td>
              <td></td>
        </tr>
      </tbody>
    </table>
  </div>
