<div class="table-responsive center-tbl">
    <table class="table table-bordered">
      <thead>
        <tr>
          <th class="center">#</th>
          <th class="center">Product Name</th>
          <th class="center">Unit Price</th>
          <th class="center">No Of Items</th>
          <th class="center">Sub Total</th>
          <th class="center">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="right">1</td>
          <td class="center">Product 1 </td>
          <td class="right">120.00</td>
          <td class="right">3</td>
          <td class="right">360.00</td>
          <td class="center"><i class="fa fa-remove trash-color" (click)="deleteItem('')"></i>
          </td>
        </tr>
        <tr>
            <td class="right">1</td>
            <td class="center">Product 1 </td>
            <td class="right">120.00</td>
            <td class="right">3</td>
            <td class="right">360.00</td>
            <td class="center"><i class="fa fa-remove trash-color" (click)="deleteItem('')"></i></td>
          </tr>
          <tr>
              <td colspan="3"></td>
              <td class="center"><b>Grand Total</b></td>
              <td class="right">720.00</td>
              <td></td>
          </tr>
      </tbody>
    </table>
  </div>
